# Mediul virtual
venv/

# Fișiere Python compilate
__pycache__/
*.py[cod]
*$py.class

# Fișiere de distribuție / packaging
*.egg-info/
dist/
build/

# Fișiere de mediu și configurare locală
.env
.env.local

# Fișiere de cache
chroma_db/
.cache/
.pytest_cache/

# Fișiere de log
*.log

# Fișiere temporare
*.tmp

# Fișiere specifice IDE
.idea/
.vscode/

# Fișiere Qdrant
storage/qdrant/
*.qdrant
qdrant_data/
backend/qdrant_files/

# PDF-uri și fișiere streamlit
*.pdf
*.swp
*.swo

# Fișiere specifice sistemului de operare
.DS_Store
Thumbs.db
